#home {
  background: url('../../images/2011/autumn.png');
  z-index: 2;
}

.featured_video { position: absolute; }

#performance_1 { background: url('../../images/2011/autumn_performance_1.png'); }
#performance_1 .featured_video { left: 25px; top: 80px; }

#performance_2 { background: url('../../images/2011/autumn_performance_2.png'); }
#performance_2 .featured_video { left: 275px; top: 60px; }

#performance_3 { background: url('../../images/2011/autumn_performance_3.png'); }
#performance_3 .featured_video { left: 75px; top: 220px; }

#performance_4 { background: url('../../images/2011/autumn_performance_4.png'); }
#performance_4 .featured_video { left: 25px; top: 40px; }

#performance_5 { background: url('../../images/2011/autumn_performance_5.png'); }
#performance_5 .featured_video { left: 200px; top: 60px; }

.absolute h1 {
  color: #b09bc0;
  font-size: 84px;
  font-family: LoboTommyRegular;
  font-weight: lighter;
  font-style: normal;
  margin: 0px;
}

.absolute h2 {
  font-size: 30px;
  font-weight: lighter;
  font-style: normal;
  font-family: Acens;
  margin: 0px;
}

.absolute p {
  color: #b09bc0;
  font-size: 14px;
  font-family: Acens;
  margin: 0px;
}

#title {
  width: 790px;
  top: 490px;
  left: 10px;
}

#subtitle {
  top: 585px;
  left: 688px;
  width: 185px;
}

.navigation img {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.navigation img.hidden{
  visibility: hidden;
}

#prev_season {
  top: 442px;
  left: 206px;
}

#next_season {
  top: 431px;
  left: 453px;
}

#program {
  top: 10px;
  left: 20px;
}

#program ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

#program ul li {
  margin-bottom: 7px;
  font-family: Acens;
  font-size: 15px;
  color: #000000;
}


#program ul li ul {
  margin-top: -2px;
  margin-bottom: 8px;
}

#program ul li ul li {
  margin-bottom: 1px;
  margin-top: -2px;
  margin-left: 15px;
}