body {
  background-color: #e8b5a7;
}

#container {
  margin-top: 35px;
  position: absolute;
  left: 50%;
}

#content {
  position: absolute;
  left: -400px;
  width: 800px;
  height: 600px;
  background: url('../images/heynowmain.png');
}

.absolute {
  position: absolute;
}

.absolute h1 {
  color: #f0ff59;
  font-size: 84px;
  font-family: LoboTommyRegular;
  font-weight: lighter;
  font-style: normal;
  margin: 0px;
}

.absolute h2 {
  color: #000000;
  font-size: 30px;
  font-weight: lighter;
  font-style: normal;
  font-family: Acens;
  margin: 0px;
}

#title {
  width: 790px;
  top: -10px;
  left: 10px;
}

#subtitle {
  top: 95px;
  left: 40px;
  width: 760px;
}

#main_text {
  top: 415px;
  left: 132px;
  width: 650px;
}

#contact_info {
  top: 584px;
  left: 425px;
}

#links {
  top: 280px;
  left: 5px;
  width: 790px;
}

#links ul {
  margin: 0px;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#links ul li {
  display: inline;
  margin-left: 8px;
  margin-right: 9px;
}

#links ul li a
{
  text-decoration: none;
  font-family: LoboTommyRegular;
  font-size: 38px;
  font-weight: lighter;
  font-style: normal;
}

#links ul li a.winter {
  color: #ff4848;
}

#links ul li a.spring {
  color: #f0ff59;
}

#links ul li a.summer {
  color: #73ff77;
}

#links ul li a.autumn {
  color: #b09bc0;
}

@font-face {
  font-family: 'LoboTommyRegular';
  src: url('../fonts/lobotommy-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lobotommy-webfont.woff') format('woff'),
       url('../fonts/lobotommy-webfont.ttf') format('truetype'),
       url('../fonts/lobotommy-webfont.svg#LoboTommyRegular') format('svg');
}

@font-face {
  font-family: 'Acens';
  src: url('../fonts/acens-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/acens-webfont.woff') format('woff'),
       url('../fonts/acens-webfont.ttf') format('truetype'),
       url('../fonts/acens-webfont.svg#Acens') format('svg');
}